<% if messages.any? %>
  <dl>
    <% messages.each do |message| %>
      <%= render partial: "message", locals: { message: message } %>
    <% end %>
  </dl>
<% else %>
  <p>You have no messages on this conversation.</p>
<% end %>