<div class="content container">
  <%= render partial: "profiles/search" %>

  <div class="row">
    <% if @conversations.any? %>
      <%= render partial: 'list', locals: { conversations: @conversations } %>
    <% else %>
      <div class="col-md-12">
        You have no conversations.
      <div>
    <% end %>
    </div>
  </div>
</div>