<div class="content container">
  <div class="row">
    <div class="col-md-3">
      <ul>
        <% @conversations.each do |conversation| %>
          <li><%= link_to conversation.header, profile_conversation_path(@profile, conversation) %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-9">
      chat window
    </div>
  </div>
</div>