<h1>What is PoPac?</h1>
<h4> Positive Impacting the world</h4>
<br>
<h5><b>PoPac</b> web application is free to be used worldwide.</h5>
<h5>It provides to the users the opportunity to explore and improve their network.</h5>
<h5>PoPac is a platform where easily we can connect to a partner NGO or volunteer.</h5>
<h5>Our mission is to influence and affect constructively the environment and consequently, people lives.</h5>
    <b>•</b> Enable volunteers to contact and connect to NGOs;
<br>
    <b>•</b> Enable NGOs to contact and connect to volunteers;
<br>
    <b>•</b> Enable NGOs to connect themselves and partnership.
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


