<!-- ================================================== -->
<!-- Hero -->
<!-- ================================================== -->
<div id="parallax"></div>

<!-- ================================================== -->
<!-- Intro -->
<!-- ================================================== -->
<section id="hero" class="section">
  <div class="container">
  	<div class="row">
  		<div class="col-md-5">
  			<div class="herotext">
  				<h1 class="wow bounceInDown" data-wow-duration="1s" data-wow-delay="0.1s"> PoPac <span class="lighter">NGOs</span></h1>
  				<p class="lead wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
  					<b>Welcome!</b>
  					We are building a better world by connecting NGOs and Volunteers.
  				</p>
  				<p>
  					<a href="<%= new_user_session_path %>" class="btn btn-default btn-lg wow fadeInLeft" role="button">It's FREE!</a>
  				</p>
  			</div>
  		</div>
  		<div class="col-md-7">
  		</div>
  	</div>
  </div>
</section>

<!-- ================================================== -->
<!-- About -->
<!-- ================================================== -->
<section id="about" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/1.jpg);">
  <div class="wrapsection">
  	<div class="parallax-overlay" style="background-color: #696969;opacity:0.9;"></div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
  				<!-- Title -->
  				<div class="maintitle">
  					<h3 class="section-title"><strong>PoPac <span class="lighter">NGOs</span></strong>, a positive impact on the world!</h3>
  					<p class="lead">
  						We believe that we can make a difference. We connect people that have the same mindset: make the world a better place to live in.
  					
  					</p>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
  				  <span class="glyphicon glyphicon-ok"></span>
  					<h3>August 2, 2017 </h3>
  					<div class="text-left">
  						<p>
  							PoPac NGOs' Project Presentation &amp; Official Website launch.
  						</p>
  						<p>
  							<i>National College Of Ireland</br>Cloud Competency Centre - 1PM</i>
  						</p>
  						<p>
  							<b><i>You are welcome to join us!</i></b>
  						</p>
  						<p class="text-center">
  							<button type="button" class="btn btn-info btn-md"><a href="https://www.ncirl.ie/">Learn More</a></button>
  						</p>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
  					<span class="glyphicon glyphicon-stats"></span>
  					<h3>Did you know?</h3>
  					<p>
  						''There are 40.000+ NGOs operating around the world.''
  					</p>
  					<button type="button" class="btn btn-info btn-md"><a href="http://www.ngo.in/">Learn More</a></button>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.2s">
  					<span class="glyphicon glyphicon-tree-deciduous"></span>
  					<h3>Nature Aiding</h3>
  					<p>
  						Volunteer opportunities in the Amazon Rainforest - environmental programs to helping exotic animals.
  					</p>
  					<button type="button" class="btn btn-info btn-md"><a href="https://www.instagram.com/p/BEf0Aq9QiQUK25d26PO3RBLwsfcElaOSugT5zc0/?taken-by=mariahsonja">Learn More</a></button>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.3s">
  					<span class="glyphicon glyphicon-heart"></span>
  					<h3>Sharing Love</h3>
  					<p>
  						Volunteer Orphanage Programs in Africa.
  					</p>
  					<button type="button" class="btn btn-info btn-md"><a href="https://www.instagram.com/p/BNDNPulj9msc7D_SJ5Yc6xjz4ujWlH9JiUPy1c0/?taken-by=mariahsonja">Learn More</a></button>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.4s">
  					<span class="glyphicon glyphicon-refresh"></span>
  					<h3>Stop the Hunger</h3>
  					<p>
  						The world is rich enough to stop the hunger. Have a look on the world hunger statistics updated in real time.
  					</p>
  					<button type="button" class="btn btn-info btn-md"><a href="http://www.stopthehunger.com/">Learn More</a></button>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>

<!-- ================================================== -->
<!-- Random -->
<!-- ================================================== -->
<section class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/3.jpg);">
	<div class="wrapsection">
	<div class="parallax-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 sol-sm-12">
				<div class="maintitle">
					<h3 class="section-title justtitle"><font color="white">Why to be a volunteer?</font></h3>
					</br><p class="lead bottom0 wow bounceInUp">
						<font color="white">“Remember that the happiest people are not those getting more, 
						but those giving more.” <b>H. Jackson Brown Jr.</b></font>
					</p>
					<p class="lead bottom0 wow bounceInUp">
						<font color="white">“The best way to not feel hopeless is to get up and do something. 
						Don’t wait for good things to happen to you. 
						If you go out and make some good things happen, 
						you will fill the world with hope, you will fill yourself with hope.”<b> Barack Obama</b></font>
					</p>
					<p class="lead bottom0 wow bounceInUp">
						<font color="white">“You make a living by what you get. You make a life by what you give.”
						<b> Winston Churchill</b></font>
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>

<!-- ================================================== -->
<!-- FAQ -->
<!-- ================================================== -->
<section id="faq" class="section">
  <div class="wrapsection">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12 sol-sm-12">
  				<div class="maintitle">
  					<h3 class="section-title"><font color="#696969">HD in Cloud Computing: <span class="wow bounceInRight">Final Project</font></span></h3>
  					<p class="lead">
  						<font size="5">Section reserved for presentation of the development process and technical details of this project.</font>
  						</br><i><font color="#696969" size="4">Sudent <b>Mariah Sonja</b> |16104978| Lecturer <b>Eugene McLaughlin</b></font></i>
  						</br><i><font size="4">National College of Ireland |2016/2017|</font></i>
  						</p>
  				</div>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-4 col-sm-12">
  				<div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0s">
  					<div class="panel-group">
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
  								What is PoPac? </a>
  								</h4>
  							</div>
  							<div id="collapseOne" class="panel-collapse collapse">
  								<div class="panel-body">
  									 PoPac is a platform developed for NGOs and Volunteers. Our main goal is to connect people that want to be a positive impact on the world.
  							     </br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a>
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
  								Software Development </a>
  								</h4>
  							</div>
  							<div id="collapseTwo" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Image
  									</br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a>
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
  								User Requirements</a>
  								</h4>
  							</div>
  							<div id="collapseThree" class="panel-collapse collapse">
  								<div class="panel-body">
  									Image
  									</br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a> 
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
  								Functional Requirements</a>
  								</h4>
  							</div>
  							<div id="collapseFour" class="panel-collapse collapse">
  								<div class="panel-body">
  									Image
  									</br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a> 
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12">
  				<div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.1s">
  					<div class="panel-group">
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
  								Non-Functional Requirements </a>
  								</h4>
  							</div>
  							<div id="collapseFive" class="panel-collapse collapse">
  								<div class="panel-body">
  									Image
  									 </br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a>
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
  								System Architecture</a>
  								</h4>
  							</div>
  							<div id="collapseSix" class="panel-collapse collapse">
  								<div class="panel-body">
  									 7 tables + 1 join table
  									 </br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a>
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  						<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
  								UI and UX </a>
  								</h4>
  							</div>
  							<div id="collapseSeven" class="panel-collapse collapse">
  								<div class="panel-body">
  									Image
  									</br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a> 
  								</div>
  							</div>
  					</div>
  					<div class="panel panel-default">
  					<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
  								Security </a>
  								</h4>
  							</div>
  							<div id="collapseEight" class="panel-collapse collapse">
  								<div class="panel-body">
  									Image
  									</br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a> 
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12">
  				<div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
  					<div class="panel-group">
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
  								System Evaluation </a>
  								</h4>
  							</div>
  							<div id="collapseNine" class="panel-collapse collapse">
  								<div class="panel-body">
  									Performance
  									</br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a> 
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
  								Test </a>
  								</h4>
  							</div>
  							<div id="collapseTen" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Image
  									 </br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a>
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
  								Project Management </a>
  								</h4>
  							</div>
  							<div id="collapseEleven" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Image
  									 </br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a>
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  						<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
  								Conclusion </a>
  								</h4>
  							</div>
  							<div id="collapseTwelve" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Image
  									 </br><a href="https://www.dropbox.com/s/8omfbe15t2643hd/black.png?dl=0"><i class="fa fa-google-plus"></i></a>
  								</div>
  							</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>

<!-- ================================================== -->
<!-- Random -->
<!-- ================================================== -->
<section class="whitecolor parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/5.jpg);">
  <div class="wrapsection">
  	<div class="container">
  	<div class="row">
  		<div class="col-md-12 sol-sm-12">
  			<div class="maintitle">
  				<h3 class="section-title justtitle"><Font color="white">What is <span class="wow flipInX">a NGO</span>?</font></h3>
  				<p class="lead bottom0">
  					 <font color="white">''NGO is a non-governamental and non-profit organisation where people works to place head, heart and dreams
  					 along of their own view of the future.''<b><i>Mariah Sonja</i></b></font>
  				</p>
  			</div>
  		</div>
  	</div>
  	</div>
  </div>
</section>

<!-- ================================================== -->
<!-- Contact -->
<!-- ================================================== -->
<section id="contactarea" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/map.png);">
  <div class="wrapsection">
  	<div class="parallax-overlay" style="background-color: #696969;opacity:0.95;"></div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
  				<div class="maintitle">
  					<h3 class="section-title">Contact us!</h3>
  					<p class="lead">
  						If you have questions about PoPac, don't hesitate to send us a message. Fill the form bellow and let's talk!
  					</p>
  				</div>
  				<form id="contact" name="contact" method="post" class="text-left">
  					<fieldset>
  						<div class="row">
  							<div class="col-md-4 wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s">
  								<label for="name">Name<span class="required">*</span></label>
  								<input type="text" name="name" id="name" size="30" value="" required/>
  							</div>
  							<div class="col-md-4 wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="2s">
  								<label for="email">Email<span class="required">*</span></label>
  								<input type="text" name="email" id="email" size="30" value="" required/>
  							</div>
  							<div class="col-md-4 wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="2s">
  								<label for="phone">Phone</label>
  								<input type="text" name="phone" id="phone" size="30" value=""/>
  							</div>
  						</div>
  						<div class="wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="1.5" style="margin-top:15px;">
  							<label for="message">Message<span class="required">*</span></label>
  							<textarea name="message" id="message" required></textarea>
  						</div>
  						<div class="wow fadeIn animated" data-wow-delay="0.3" data-wow-duration="1.5s">
  							<input id="submit" type="submit" name="submit" value="Send"/>
  						</div>
  					</fieldset>
  				</form>
  				<div id="success">
  					<p class="contactalert">
  						Your message was sent succssfully! I will be in touch as soon as I can.
  					</p>
  				</div>
  				<div id="error">
  					<p class="contactalert">
  						 Something went wrong, try refreshing and submitting the form again.
  					</p>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>