<!-- ================================================== -->
<!-- Hero -->
<!-- ================================================== -->
<div id="parallax"></div>

<!-- ================================================== -->
<!-- Intro -->
<!-- ================================================== -->
<section id="hero" class="section">
  <div class="container">
  	<div class="row">
  		<div class="col-md-5">
  			<div class="herotext">
  				<h1 class="wow bounceInDown" data-wow-duration="1s" data-wow-delay="0.1s"> PoPac <span class="lighter">NGOs</span></h1>
  				<p class="lead wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
  					We are building a better world by connecting NGOs and Volunteers. Join us, it's FREE!
  				</p>
  				<p>
  					<a href="<%= new_user_session_path %>" class="btn btn-default btn-lg wow fadeInLeft" role="button">XXXXX</a>
  				</p>
  			</div>
  		</div>
  		<div class="col-md-7">
  		</div>
  	</div>
  </div>
</section>

<!-- ================================================== -->
<!-- About -->
<!-- ================================================== -->
<section id="about" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/1.jpg);">
  <div class="wrapsection">
  	<div class="parallax-overlay" style="background-color: #696969;opacity:0.9;"></div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
  				<!-- Title -->
  				<div class="maintitle">
  					<h3 class="section-title"><strong>PoPac <span class="lighter">NGOs</span></strong> makes a positive impact on the world!</h3>
  					<p class="lead">
  						We believe that we can make a difference. We connect people that have the same mindset: make the world a better place to live in.
  					
  					</p>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
  				  <span class="glyphicon glyphicon-ok"></span>
  					<h3>August 2, 2017 <br/>National College Of Ireland</h3>
  					<div class="text-left">
  						<p>
  							PoPac NGOs' Project Presentation &amp; Official Website launch.
  						</p>
  						<p>
  							Cloud Competency Centre - 1PM
  						</p>
  						<p>
  							<b><i>You are welcome to join us!</i></b>
  						</p>
  						<p class="text-center">
  							<button type="button" class="btn btn-info btn-md"><a href="https://www.ncirl.ie/">Learn More</a></button>
  						</p>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
  					<span class="glyphicon glyphicon-stats"></span>
  					<h3>Did you know?</h3>
  					<p>
  						''There are 40.000+ NGOs operating around the world.''
  					</p>
  					<button type="button" class="btn btn-info btn-md"><a href="http://www.ngo.in/">Learn More</a></button>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.2s">
  					<span class="glyphicon glyphicon-tree-deciduous"></span>
  					<h3>Nature Aiding</h3>
  					<p>
  						Volunteer opportunities in the Amazon Rainforest - environmental programs to helping exotic animals.
  					</p>
  					<button type="button" class="btn btn-info btn-md"><a href="http://www.oneworld365.org/amazon-rainforest-volunteer">Learn More</a></button>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.3s">
  					<span class="glyphicon glyphicon-heart"></span>
  					<h3>Sharing Love</h3>
  					<p>
  						Volunteer Orphanage Programs in Africa.
  					</p>
  					<button type="button" class="btn btn-info btn-md"><a href="https://www.projects-abroad.org/volunteer-destinations/volunteer-in-africa/care/">Learn More</a></button>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-6">
  				<div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.4s">
  					<span class="glyphicon glyphicon-refresh"></span>
  					<h3>Stop the Hunger</h3>
  					<p>
  						The world has enough money to Stop the Hunger. Have a look on the world hunger statistics updated in real time.
  					</p>
  					<button type="button" class="btn btn-info btn-md"><a href="http://www.stopthehunger.com/">Learn More</a></button>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>

<!-- ================================================== -->
<!-- Random -->
<!-- ================================================== -->
<section class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/3.jpg);">
	<div class="wrapsection">
	<div class="parallax-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 sol-sm-12">
				<div class="maintitle">
					<h3 class="section-title justtitle">Participation is everything</h3>
					<p class="lead bottom0 wow bounceInUp">
						Fusce fermentum lectus id turpis suscipit, ut egestas magna volutpat. Donec a purus tellus. Nunc ut dolor eu est gravida auctor quis vitae.
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>

<!-- ================================================== -->
<!-- FAQ -->
<!-- ================================================== -->
<section id="faq" class="section">
  <div class="wrapsection">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12 sol-sm-12">
  				<div class="maintitle">
  					<h3 class="section-title">Conditions of <span class="wow bounceInRight">Participation</span></h3>
  					<p class="lead">
  						Sed gravida, tortor in tincidunt sagittis, ligula lacus ultrices justo, sed mattis sem sem ut ex. Ut nunc elit, auctor et quam sit amet, convallis purus.
  					</p>
  				</div>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-4 col-sm-12">
  				<div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0s">
  					<div class="panel-group">
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
  								How old can I be? </a>
  								</h4>
  							</div>
  							<div id="collapseOne" class="panel-collapse collapse">
  								<div class="panel-body">
  									 How old. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
  								Can we donate clothes? </a>
  								</h4>
  							</div>
  							<div id="collapseTwo" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Can we? This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
  								How many miles to run ? </a>
  								</h4>
  							</div>
  							<div id="collapseThree" class="panel-collapse collapse">
  								<div class="panel-body">
  									 So how many. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12">
  				<div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.1s">
  					<div class="panel-group">
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
  								Can we show sponsors? </a>
  								</h4>
  							</div>
  							<div id="collapseFour" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Sponsors. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
  								Are there free drinks? </a>
  								</h4>
  							</div>
  							<div id="collapseFive" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Drinks. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
  								Is medical exam free ? </a>
  								</h4>
  							</div>
  							<div id="collapseSix" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Medical. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-4 col-sm-12">
  				<div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
  					<div class="panel-group">
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
  								Do you help with passport? </a>
  								</h4>
  							</div>
  							<div id="collapseSeven" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Passport. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
  								What routes should one follow? </a>
  								</h4>
  							</div>
  							<div id="collapseEight" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Routes. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  								</div>
  							</div>
  						</div>
  						<div class="panel panel-default">
  							<div class="panel-heading">
  								<h4 class="panel-title">
  								<a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
  								Do I have to pay a tax? </a>
  								</h4>
  							</div>
  							<div id="collapseNine" class="panel-collapse collapse">
  								<div class="panel-body">
  									 Tax. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>

<!-- ================================================== -->
<!-- Random -->
<!-- ================================================== -->
<section class="whitecolor parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/5.jpg);">
  <div class="wrapsection">
  	<div class="container">
  	<div class="row">
  		<div class="col-md-12 sol-sm-12">
  			<div class="maintitle">
  				<h3 class="section-title justtitle">Charity <span class="wow flipInX">&amp; love</span> are the same</h3>
  				<p class="lead bottom0">
  					 Fusce fermentum lectus id turpis suscipit, ut egestas magna volutpat. Donec a purus tellus. Nunc ut dolor eu est gravida auctor quis vitae.
  				</p>
  			</div>
  		</div>
  	</div>
  	</div>
  </div>
</section>

<!-- ================================================== -->
<!-- Contact -->
<!-- ================================================== -->
<section id="contactarea" class="parallax section" style="background-image: url(http://themepush.com/demo/runcharity/assets/img/map.png);">
  <div class="wrapsection">
  	<div class="parallax-overlay" style="background-color: #696969;opacity:0.95;"></div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
  				<div class="maintitle">
  					<h3 class="section-title">Contact us!</h3>
  					<p class="lead">
  						If you have questions about PoPac, don't hesitate to send us your message. Fill the form bellow and let's talk!
  					</p>
  				</div>
  				<form id="contact" name="contact" method="post" class="text-left">
  					<fieldset>
  						<div class="row">
  							<div class="col-md-4 wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s">
  								<label for="name">Name<span class="required">*</span></label>
  								<input type="text" name="name" id="name" size="30" value="" required/>
  							</div>
  							<div class="col-md-4 wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="2s">
  								<label for="email">Email<span class="required">*</span></label>
  								<input type="text" name="email" id="email" size="30" value="" required/>
  							</div>
  							<div class="col-md-4 wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="2s">
  								<label for="phone">Phone</label>
  								<input type="text" name="phone" id="phone" size="30" value=""/>
  							</div>
  						</div>
  						<div class="wow fadeIn animated" data-wow-delay="0.3s" data-wow-duration="1.5" style="margin-top:15px;">
  							<label for="message">Message<span class="required">*</span></label>
  							<textarea name="message" id="message" required></textarea>
  						</div>
  						<div class="wow fadeIn animated" data-wow-delay="0.3" data-wow-duration="1.5s">
  							<input id="submit" type="submit" name="submit" value="Send"/>
  						</div>
  					</fieldset>
  				</form>
  				<div id="success">
  					<p class="contactalert">
  						Your message was sent succssfully! I will be in touch as soon as I can.
  					</p>
  				</div>
  				<div id="error">
  					<p class="contactalert">
  						 Something went wrong, try refreshing and submitting the form again.
  					</p>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</section>