<!DOCTYPE html>
<html>
  <head>
    <title>Popac</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!--MARIAH: code from Cloud Application Development class -->
  <body>
    <div id=header>
      <!--Reader image here -->
    </div>
    <div id='menu'>
      <div id='navbar'>
        <ul>
          <li> <a href="/profiles">Profile</a></li>
          <li> <a href="/about">About PoPac</a></li>
          <li> <a href="/contact">Contact Us</a></li>
          <li> <a href="/Admin">Login</a></li>
          <li> <a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
    <div id='container'>
  </body>
</html>
